{:qb ["swirrl/validations/qb/ic-1.rq"
										"swirrl/validations/qb/ic-2.rq"
										"swirrl/validations/qb/ic-3.rq"
										"swirrl/validations/qb/ic-4.rq"
										"swirrl/validations/qb/ic-5.rq"
										"swirrl/validations/qb/ic-6.rq"
										"swirrl/validations/qb/ic-7.rq"
										"swirrl/validations/qb/ic-8.rq"
										"swirrl/validations/qb/ic-9.rq"
										"swirrl/validations/qb/ic-10.rq"
										"swirrl/validations/qb/ic-11.rq"
										"swirrl/validations/qb/ic-12.rq"
										"swirrl/validations/qb/ic-13.rq"
										"swirrl/validations/qb/ic-14.rq"
										"swirrl/validations/qb/ic-15.rq"
										"swirrl/validations/qb/ic-16.rq"
										"swirrl/validations/qb/ic-17.rq"
										"swirrl/validations/qb/ic-18.rq"
										"swirrl/validations/qb/ic-19.rq"
										"swirrl/validations/qb/ic-20.rq"
										"swirrl/validations/qb/ic-21.rq"]}
