{:pmd4 ["swirrl/validations/pmd4/SELECT_BroaderObjectsMustBeAConcept.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptExactlyOneLabel.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptMaxOneComment.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptMaxOneNotation.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptMinOneScheme.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptSchemeExactlyOneLabel.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptSchemeMustHaveCatalogEntry.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptSchemesMaxZeroConceptsAsMembers.sparql"
										"swirrl/validations/pmd4/SELECT_ConceptsMaxOfOneSortPriority.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetContactPointIsIri.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetContentsIsCorrectType.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetExactlyOneContents.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetExactlyOneGraph.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetExactlyOneIssuedDate.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetExactlyOneLabel.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetExactlyOneModifiedDate.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetGraphIsIri.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetMaxOneContactPoint.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetMaxOneContributor.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetMaxOneCreator.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetMaxOneLicense.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetMaxOneMarkdownDesc.sparql"
										"swirrl/validations/pmd4/SELECT_DatasetMaxOnePublisher.sparql"
										"swirrl/validations/pmd4/SELECT_DimensionsExactlyOneLabel.sparql"
										"swirrl/validations/pmd4/SELECT_DimensionsMaxOneCodeList.sparql"
										"swirrl/validations/pmd4/SELECT_DimensionsMustHaveConceptsInCodeList.sparql"
										"swirrl/validations/pmd4/SELECT_NarrowerObjectsMustBeAConcept.sparql"
										"swirrl/validations/pmd4/SELECT_RecordExactlyOneIssuedDate.sparql"
										"swirrl/validations/pmd4/SELECT_RecordExactlyOneLabel.sparql"
										"swirrl/validations/pmd4/SELECT_RecordExactlyOneMetadataGraph.sparql"
										"swirrl/validations/pmd4/SELECT_RecordExactlyOneModifiedDate.sparql"
										"swirrl/validations/pmd4/SELECT_RecordExactlyOnePrimaryTopic.sparql"
										"swirrl/validations/pmd4/SELECT_RecordMetadataGraphIsIri.sparql"
										"swirrl/validations/pmd4/SELECT_RecordPrimaryTopicIsDataset.sparql"
										"swirrl/validations/pmd4/SELECT_RecordsMustBeInACatalog.sparql"
										"swirrl/validations/pmd4/SELECT_TopConceptOfObjectMustBeAConceptScheme.sparql"
]}
